<!-- Static navbar -->
<div class="row" style="background-color: white;">
	<div class="col-lg-2 col-md-1"></div>
	<div class="col-lg-2 col-md-3 col-sm-4 col-xs-5">
		<a href="https://corvettedna.com/#/home"><img src="images/corvetteDNALogo.png"
			alt="logo" style="width: 200px; height: auto; margin: 20px;"></a>
	</div>
    <div class="col-lg-4 col-md-5 col-sm-6 col-xs-3"></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4" style="text-align:center;">
      <span class="social-icons icon-circle icon-zoom list-unstyled list-inline"><a href="https://www.facebook.com/CorvetteDNA/"><i class="fa fa-facebook" style="margin: 49px 3px;"></i></a></span>
      <span class="social-icons icon-circle icon-zoom list-unstyled list-inline"><a href="https://twitter.com/corvettedna"><i class="fa fa-twitter"></i></a></span>
    </div>
    <div class="col-lg-2 col-md-1"></div>

</div>
<nav class="navbar navbar-default col-lg-offset-2 col-lg-8 col-lg-offset-2 col-md-offset-1 col-md-10 col-md-offset-1 col-sm-12" data-ng-controller="nav.Controller" role="navigation" style="background-color: #b7b7b7; border-color: #d6d6d6; margin-top: 0px;">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse" ng-class="{collapse: isCollapsed}" style="border-top-width: 0px;"">
      <ul class="nav navbar-nav">
        <li><a href="https://corvettedna.com/#/home" class="icon"><span class="menutextstyle">Home</span></a></li>
        <li><a href="https://corvettedna.com/#/aboutUs/" class="icon"><span class="menutextstyle">About Us</span></a></li>
        <li><a href="https://corvettedna.com/#/apps/" class="icon"><span class="menutextstyle">Apps</span></a></li>
        <li><a href="https://corvettedna.com/#/gallery/" class="icon"><span class="menutextstyle">Gallery</span></a></li>
        <li><a href="https://corvettedna.com/#/contactUs/" class="icon"><span class="menutextstyle">Contact Us</span></a></li>
        <li><a href="https://corvettedna.com/#/mailingList/" class="icon"><span class="menutextstyle">Mailing List</span></a></li>     
      </ul>
    </div>
    
  </div>
</nav>
