<ng-include src="'app/nav/nav.html'"></ng-include>

<div class="row"></div>

<div
 class="container col-lg-offset-2 col-lg-8 col-lg-offset-2 col-md-offset-1 col-md-10 col-md-offset-1 col-sm-offset-1 col-sm-10 col-sm-offset-1 col-xs-offset-1 col-xs-10 col-xs-offset-1">
 <div class="row col-md-12"
  style="font-size: 50px; color: black; text-align: center; margin-bottom: 20px;">
  Download <b>CorvetteDNA Trivia</b> Now.
 </div>
 <br>
 <div class="col-md-offset-2 col-md-4">
  <div class="row">
   <a
    href="https://itunes.apple.com/us/app/corvettedna-trivia/id1235316301?mt=8"
    target="_blank"><img src="images/appleButton.png" alt="logo"
    style="width: 270px; height: 80px; margin-left: auto; margin-right: auto; display: block;"></a>
  </div>
 </div>
 <div class="col-md-6">
  <div class="row" style="font-size: 19pt; margin-left: 16px;">
   Tap the button to go to the App Store and download, or search for
   "CorvetteDNA Trivia"</div>
  <br>
  <div class="row"
   style="font-size: 19pt; margin-left: 16px; margin-bottom: 20px;">Tap
   to install for FREE! Play Today!</div>
 </div>
 <div class="col-md-offset-4 col-md-3">
  <div class="row">
   <a
    href="https://itunes.apple.com/us/app/corvettedna-trivia/id1235316301?mt=8"
    target="_blank"><img src="images/CDNA-Trivia-app-icon.png" alt="logo"
    style="width: 270px; margin-left: auto; margin-right: auto; display: block;"></a>
  </div>
 </div>
 <div class="row col-md-offset-1 col-md-10">
  <hr style="border-top: 1px solid black">
 </div>
 <div class="row col-md-offset-1 col-md-11"
  style="font-size: 30px; color: black; text-align: center; margin-bottom: 30px;">Download
  the CorvetteDNA Research and Valuation app</div>
 <div class="col-md-offset-2 col-md-4">
  <div class="row">
   <a
    href="https://itunes.apple.com/us/app/corvettedna-free/id770243999?mt=8"
    target="_blank"><img src="images/appleButton.png" alt="logo"
    style="width: 270px; height: 80px; margin-bottom: 5px; margin-left: auto; margin-right: auto; display: block;"></a>
  </div>
  <div class="row">
  <a href="https://play.google.com/store/apps/details?id=com.cdna.plus"
    target="_blank"><img src="images/androidButton.png" alt="logo"
    style="width: 270px; height: 80px; margin-bottom: 20px; margin-left: auto; margin-right: auto; display: block;"></a>
  </div>
 </div>
 <div class="col-md-6">
  <div class="row" style="font-size: 19pt; margin-left: 16px;">Go
   to the App Store or the Google Play Store on your phone or tablet.</div>
  <br>
  <div class="row" style="font-size: 19pt; margin-left: 16px;">
   Search for "CorvetteDNA"</div>
  <div class="row" style="font-size: 19pt; margin-left: 16px; margin-bottom: 20px;">Tap
   to install for FREE! Play Today!</div>
 </div>
 <div class="col-md-offset-4 col-md-3">
  <div class="row">
   <a
    href="https://itunes.apple.com/us/app/corvettedna-free/id770243999?mt=8"
    target="_blank"><img src="images/CDNA-app-icon.png"
    alt="logo"
    style="width: 270px; margin-left: auto; margin-right: auto; display: block;"></a>
  </div>
 </div>
</div>

<div class="col-lg-2 col-md-1"></div>