/**
 * app.css
 */
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: left;
}

td.TableHeadingFont {
	background-color: #999999;
	color: white;
	font-size: 22px;
	padding-top: 16px;
	padding-bottom: 16px;
	font-style: italic;
}

img.generationImages {
	width: 120px;
	max-height: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 5px;
}

span.menutextstyle {
	color: #555;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
}

.formly {
	
}

.formly-field {
	margin-bottom: -16px;
}

.icon {
}

.icon:hover {
	cursor: pointer;
	box-shadow: 1px 1px 1px 1px #888888;
}

.icon:active {
	box-shadow: 0px 0px 4px 2px #888888 inset;
}

.youtubeContainer {
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
